/* ACA ANIMACIONES */
* {
    /* Paleta violeta */
    --violeta_claro: #9FBAE0;
    --azul_fuerte: #014AAD;
    --celeste: #03A5A5;
    --violeta_oscuro: #0356AC;
    --turquesa: #0592A6;
    --azul: #0475A9;
    --blanco: #fff
}

@keyframes aparicion {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* HEADER Y NAV */
@keyframes desplaza_borde {
    from {
        border-end-end-radius: 50% 0%;
        border-end-start-radius: 50% 0%
    }

    to {
        border-end-end-radius: 50% 22%;
        border-end-start-radius: 50% 22%
    }
}

@keyframes aparecer_derecha {
    from {
        
    }
}

@keyframes sombra_div {
    /* PARA LOS MIEMBROS */
    from {
        box-shadow: 0px 0px 0px 0px var(--violeta_oscuro) inset;
        padding: 0px 0px;
    }

    to {
        box-shadow: -4px -10px var(--violeta_oscuro) inset;
        padding: 10px 20px;
    }
}