/* Diseñamos como para celu, desp con querys adaptamos */
:root {
    /* Paleta acorde al logo */
    --azul_oscuro: #23476B;
    --claro: #A3CAEE;
    --base: #4A95E0;
    --blanco: #fff;
    --base_oscuro: #3973AD;


    /* Paleta marrón */
    /* --icterine: #f7f052ff;
    --orange-wheel: #f28123ff;
    --syracuse-red-orange: #d34e24ff;
    --caf-noir: #563f1bff;
    --myrtle-green: #38726cff; */
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 20px;
    color: var(--base);
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
    flex-wrap: wrap;
}

/* HEADER Y NAVEGACION */
header {
    background-color: var(--claro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
}

h1 {
    color: var(--blanco);
    font-size: 2rem;
    padding: 1rem;
}

nav {
    margin-top: 0.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    
    align-items: center;
}

li a {
    display: flex;
    color: var(--blanco);
    width: 100%;
    height: 3rem;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--base_oscuro);
    justify-content: center;
    align-items: center;
}

li a:hover {
    background-color: var(--base);
    color: white;
}

/* Colorea anchor presionado */
/* li a.presionado {
    background-color: var(--base);
    color: white;
}

li a:hover:not(.presionado) {
    background-color: var(--base);
    color: white;
} */

/* FOOTER */
footer {
    background-color: var(--azul_oscuro);
}

/* SECCIONES */
#inicio,
#servicios,
#nuestro_equipo,
#chamuyo,
#contacto {
    background-color: var(--base_oscuro);
    color: var(--blanco);
    padding: 0.5rem;
    margin: 4%;
    border-radius: 5%;
}

/*  */
.contenedor, .miembros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cajita_servicio {
    padding: 1em;
    margin: 1em;
    background-color: var(--base);
}

/* EQUIPO SECCION */
.miembros {
    display: flex;
    flex-direction: row;
    margin: 2em;
    padding: 2em;

}

/* CSS RESPONSIVE (QUERYS) */
/* Muy grande */
@media (min-width: 1200px) {
    header {
        flex-direction: row;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    ul {
        flex-direction: row;
        align-items: end;
    }

    li {
        padding: 0;
    }
}

/* Compus, pantallas, grande */
@media (min-width: 992px) {
    header {
        flex-direction: row;
        align-content: flex-end;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    ul {
        flex-direction: row;
        align-items: end;
    }

    li {
        padding: 0;
    }
}

/* Tablets - mediano */
@media (min-width: 768px) {
    nav {
        display: flex;
        flex-direction: row;
    }

    ul {
        flex-direction: row;
    }

    li {
        padding: 0;
    }

    li a {
        width: 6rem;
    }
}

/* celu acostado - pequeño */
@media (min-width: 576px) {}