:root {
    --azul: #2d4b8a;
    --celeste: #3c6ec6;
    --amarillo: #ffc100;
    --naranja: #fe6603;
    --turquesa: #03a5a5;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

body {
    width: 100%;
    height: 100%;
}

header {
    background-color: var(--celeste);
}

main {
    background-color: var(--amarillo);
}

footer {
    background-color: var(--azul);
}

#inicio, #servicios, #nuestro_equipo, #chamuyo, #contacto {
    background-color: var(--naranja);
    padding: 5em;
    margin: 2em;
    border-radius: 5%;
}

/* QUE OFRECEMOS SECCION */
.contenedor {
    display: flex;
    flex-direction: row;
}

.cajita_servicio {
    padding: 1em;
    margin: 1em;
    background-color: #03a5a5;
}

/* EQUIPO SECCION */
.miembros {
    display: flex;
    flex-direction: row;
    margin: 2em;
    padding: 2em;

}